/* LandingPage.css */

.landing-page {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.markdown-joiner {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.markdown-preview-container {
    text-align: left;
    padding: 16px;
    /* Agrega un espacio alrededor del contenido */
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1976D2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.file-upload label:hover {
    background-color: #1565C0;
    /* Color más oscuro al pasar el ratón */
}

.card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #1976D2;
    color: red;
    padding: 16px;
    border-top-left-radius: 8px;
    /* Esquinas redondeadas solo en la parte superior */
    border-top-right-radius: 8px;
}

.previewer {
    max-height: 300px;
    overflow: auto;
    padding: 8px;
    /* Agrega un espacio alrededor del contenido */
    border: 0px solid #ccc;
    /* Agrega un borde para separar el contenido del contenedor */
    border-radius: 4px;
    background-color: blue;
}

/* Estilo adicional para el texto dentro de <pre> */
.previewer pre {
    padding: 0px;
    /* Agrega espacio de relleno al texto dentro de <pre> */
}